.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding: 0px;
    background-color: #030712;
    color: white;
    text-align: center;
    
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.footer-social img {
    width: 70px;
    height: 70px;
}

.footer-social a {
    margin-left: 5px;
    margin-right: 5px;
}




@media (max-width: 768px) {

.footer-container {
    flex-direction: column;
    gap: 40px;
}

.footer-social img{
    width:120px;
}

}