.contactus-container {
  display: flex;
  min-height: 70vh;
  background-color: aliceblue;
}

.contactus-image {
  flex: 1;
}

.contactus-header-container {
  background-color: aliceblue;
  padding: 10px;
}

.contactus-header-container h1 {
  color: var(--black);
  margin-bottom: 20px;
  margin-left: 20px;
}
.contactus-header-container p {
  color: var(--primary);
  margin-left: 20px;
}

.contactus-image img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contactus {
  width: 80%;
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-header-text {
  color: var(--black);
  margin-bottom: 20px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}