.home-container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 50px;
  gap: 100px;
  min-height: 100vh;

}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-text {
  max-width: 600px;
}

.upline {
  width: 40px;
  rotate: 90deg;
  fill:aqua;
  color: var(--accent);
}

.icon {
  width: 40px;
  height: 40px;
  fill: white;
  transition: 0.3s;
  cursor: pointer;
}

.icon:hover {
  fill: #d4af37;
  transform: scale(1.2);
}